.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(https://cdn.mos.cms.futurecdn.net/RjAhKZLKcFw5K9Tp83qy9c.jpg);
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;              /* optional, center the image */
  height: 100vh;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  align-items: center;
  h1 {
    color: white;
    font-size: 8rem;
  }
  p {
    color: white;
  }
}

.jumbotron-fluid {
    text-shadow: #444 0 1px 1px;
    color: #FFF;
    height: 40vh;

    display: flex;
    align-items: center;
}

.search_field {
}

.search-bar {
  width: 21rem;


  // margin-top: 24px !important;

}


.container {
  width: 1300px;
}

.about-section {
  padding-top: 10rem;
  background: linear-gradient(to bottom, #2F251C 0, #563B34 25%, #514141 50%, rgba(22,22,22,0.9) 75%,#010207 100%);
}
