.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(https://cdn.mos.cms.futurecdn.net/RjAhKZLKcFw5K9Tp83qy9c.jpg);
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;              /* optional, center the image */
  height: 100vh;
  margin: 0;
  h1 {
    color: white;
  }
  p {
    color: white;
  }
}

.jumbotron-fluid {
    text-shadow: #444 0 1px 1px;
    color: #FFF;
    position: relative;
    height: 40vh;

    display: flex;
    align-items: center;
}

.search_field {
  // width: 1000px;
}

.search-bar {
  width: 400px;
  background-color: light-gray;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px !important;
  border-radius: 12px !important;  
}

.container {
  width: 1300px;
}

.about-section {
  padding-top: 10rem;
  background: linear-gradient(to bottom, #2F251C 0, #563B34 25%, #514141 50%, rgba(22,22,22,0.9) 75%,#010207 100%);
}