.jumbotron {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(https://cdn.mos.cms.futurecdn.net/RjAhKZLKcFw5K9Tp83qy9c.jpg);
  background-size:     cover;                      /* <------ */
  background-repeat:   no-repeat;
  background-position: center center;              /* optional, center the image */
  height: 100vh;
  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  align-items: center;
  h1 {
    color: white;
    font-size: 8rem;
  }
  p {
    color: white;
  }
}

.jumbotron-fluid {
    text-shadow: #444 0 1px 1px;
    color: #FFF;
    height: 40vh;

    display: flex;
    align-items: center;
}

.search_field {
  // width: 1000px;
}

.search-bar {
  // height: 150px;
  width: 400px;
  background-color: light-gray;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px !important;
  // margin-top: 24px !important;
  border-radius: 12px !important;
}
