<div class="dp-card-product-primary dp-08" style="background-image:  linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9)), url('https://afar-production.imgix.net/uploads/images/afar_post_headers/images/JSlyHAhjDp/original_SpaceHERO_0000_Journey_20To_20Space_203D_20film_20-_20Space_20Launch_20System_20Launch.jpg?auto=compress,format&fit=crop&crop=top&lossless=true&w=1600&h=700'); background-position: center;">
    <h3>Arie van der Poel</h3>
    <div class="dp-card-product-secondary">
      <ul>
        <li>Price: $456 / day</li>
        <li>Location: Auckland</li>
        <li>Payload: 4500 kg</li>
      </ul>
    </div>
</div>
