<div class="dp-card-product-primary dp-08" style="background-image:  linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.9)), url('https://afar-production.imgix.net/uploads/images/afar_post_headers/images/JSlyHAhjDp/original_SpaceHERO_0000_Journey_20To_20Space_203D_20film_20-_20Space_20Launch_20System_20Launch.jpg?auto=compress,format&fit=crop&crop=top&lossless=true&w=1600&h=700'); background-position: center;">
    <h3>ROCKET NAME</h3>
    <div class="dp-card-product-secondary">
    <h6>Details</h6>
      <ul>
        <li><i class="fas fa-dollar-sign mr-3"></i>456 / day</li>
        <li><i class="fas fa-thumbtack mr-3"></i>Auckland</li>
        <li><i class="fas fa-rocket mr-3"></i>4500 kg</li>
      </ul>
      <div class = "d-flex justify-content-center mt-3">
        <button class="primary ghost m-auto">
          BOOK NOW
        </button>
      </div>
    </div>
</div>
