<div class="notification">
  <img src='https://kitt.lewagon.com/placeholder/users/random' class="avatar-large" />
  <div class="notification-content">
    <p><small><%= review.order.user.first_name %> <%= review.order.user.last_name %></small></p>
    <p>Rating: <%= review.rating %></p>
    <p><%= review.content %></p>
  </div>
</div>
