<h5><%= rocket.name %></h5>
<p>Location: <%= rocket.location %></p>
<p>Price: $<%= rocket.price %>/day</p>

<%= link_to 'BOOK NOW', rocket_path(rocket), class:"btn btn-outline-dark btn-sm dp-border-radius" %>