<div class="container">
  <h1>Rockets List</h1>



  <div class="cards card-container">
    <% @rockets.each do |rocket| %>
      <div class="card" style="width: 18rem;">
        <div class="card-img-top" alt="rocket card">
          <img src=rocket.rocket_images class="card-img-top" alt="rocket img">
          <div class="card-body">
            <h5 class="card-title"><%= link_to rocket.name, rocket_path(rocket) %></h5>
            <p class="card-text">Location: <%= rocket.location %></p>
            <p class="card-text">Price: $<%= rocket.price %></p>
            <a href="#" class="btn btn-primary">Book NOW</a>
          </div>
        </div>
      </div>
  <% end %>

  </div>

</div>

