<div class="container mt-3">
  <div class="text-center img-container-rocket-about d-flex justify-content-center align-items-center dp-04 dp-border-radius">
    <h1>ABOUT SPACE-Y</h1>
  </div>
</div>
<div class="container">
  <div class="row mt-3">
    <div class="col-12">
      <div class="about-info m-3">
        <h2>Welcome to SPACE-Y</h2>
        <p>At SPACE-Y we believe in two things:</p>
        <ol>
          <li>Affordable space travel should be available to everyone</li>
          <li>Rockets are cool</li>
        </ol>
        <h3>Never piloted a Rocket before? <strong>No problem</strong></h3>
        <p>At spacey you can rent our Rockets worry free with our comprehensive insurance packages that cover:</p>
        <ul>
          <li>24/7 galaxy-wide assistance and recovery (limited to Milky Way )</li>
          <li>Theft of rockets</li>
          <li>Break ins</li>
          <li>Scratches to bodywork</li>
          <li>Windscreens</li>
          <li>Free hire rockets</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mt-3">
    <div class="col-7">
      <div class="about-info m-3">
        <h2>OUR TEAM</h2>
      <div class="card-container">
      <div class="dp-card-primary dp-04">
      <!-- <span class="pro">PRO</span> -->
      <img class="round" src="https://www.dropbox.com/s/tx9ggj1qqtx5hv1/team_lacy.jpg?raw=1" alt="user" />
      <h3>Lacy Zhang</h3>
      <h6>Melbourne</h6>
      <p>Lead developer @ SPACE-Y</p>
      <div class="buttons-dt">
        <button class="primary">
          Message
        </button>
        <button class="primary ghost">
          Following
        </button>
      </div>
      <div class="dp-card-secondary">
        <h6>Skills</h6>
        <ul>
          <li>Ruby</li>
          <li>Rails</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
          <li>Rocket pilot</li>
        </ul>
      </div>
    </div>
    <div class="dp-card-primary dp-04">
      <!-- <span class="pro">PRO</span> -->
      <img class="round" src="https://www.dropbox.com/s/qa4ko6vc1lslyip/team_rithvik.jpg?raw=1" alt="user" />
      <h3>Rithvik Chand</h3>
      <h6>Melbourne</h6>
      <p>Fullstack developer @ SPACE-Y</p>
      <div class="buttons-dt">
        <button class="primary">
          Message
        </button>
        <button class="primary ghost">
          Following
        </button>
      </div>
      <div class="dp-card-secondary">
        <h6>Skills</h6>
        <ul>
          <li>UI / UX</li>
          <li>Front End Development</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
          <li>React</li>
          <li>Node</li>
        </ul>
      </div>
    </div>
    <div class="dp-card-primary dp-04">
      <!-- <span class="pro">PRO</span> -->
      <img class="round" src="https://www.dropbox.com/s/y63wuriv5jdzpq0/team_jason.jpg?raw=1" alt="user" />
      <h3>Jason Sim</h3>
      <h6>Melbourne</h6>
      <p>Lead rocket designer & test pilot @ SPACE-Y</p>
      <div class="buttons-dt">
        <button class="primary">
          Message
        </button>
        <button class="primary ghost">
          Following
        </button>
      </div>
      <div class="dp-card-secondary">
        <h6>Skills</h6>
        <ul>
          <li>UI / UX</li>
          <li>Front End Development</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
          <li>React</li>
          <li>Node</li>
        </ul>
      </div>
    </div>
    <div class="dp-card-primary dp-04">
      <!-- <span class="pro">PRO</span> -->
      <img class="round" src="https://www.dropbox.com/s/j1e4hxy6rdc43a4/team_arie.jpg?raw=1" alt="user" />
      <h3>Arie van der Poel</h3>
      <h6>NEW ZEALAND</h6>
      <p>Github Janitor @ SPACE-Y</p>
      <div class="buttons-dt">
        <button class="primary">
          Message
        </button>
        <button class="primary ghost">
          Following
        </button>
      </div>
      <div class="dp-card-secondary">
        <h6>Skills</h6>
        <ul>
          <li>UI / UX</li>
          <li>Front End Development</li>
          <li>HTML</li>
          <li>CSS</li>
          <li>JavaScript</li>
          <li>React</li>
          <li>Node</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>

