<div class="container mt-3">
  <div class="text-center img-container-rocket-index d-flex justify-content-center align-items-center">
    <h1>ABOUT SPACE-Y</h1>
  </div>
</div>
<div class="container mt-3">
  <div class="row">
    <div class="col-7">
      <h2>Welcome to SPACE-Y</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-7">
      <p>At SPACE-Y we beleive in two things:</p>
      <ol>
        <li>Affordable space travel should be available to everyone</li>
        <li>Rockets are cool</li>
      </ol>
      <h3>Never piloted a Rocket before? <strong>No problem</strong></h3>
      <p>At spacey you can rent our Rockets worry free with our comprehensive insurance packages that cover:</p>
      <ul>
        <li>24/7 galaxy-wide assistance and recovery (limited to Milky Way )</li>
        <li>Theft of rockets</li>
        <li>Break ins</li>
        <li>Scratches to bodywork</li>
        <li>Windscreens</li>
        <li>Free hire rockets</li>
    </ul>
    </div>
  </div>
  <%= render 'shared/card-team-profile' %>
  <div class="row">
    <div class="col-6">
      <div class="card-product">
        <img src="https://www.dropbox.com/s/qa4ko6vc1lslyip/team_rithvik.jpg?raw=1" />
        <div class="card-product-infos">
          <h2>Rithvik Chand</h2>
          <h3>Lead rocket engineer at SPACE-Y</h3>
          <p>Loves long walk on the rings of Saturn</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card-product">
        <img src="https://www.dropbox.com/s/tx9ggj1qqtx5hv1/team_lacy.jpg?raw=1" />
        <div class="card-product-infos">
          <h2>Lacy Zhang</h2>
          <h3>Lead developer at SPACE-Y</h3>
          <p>When I'm not drinking coffe, I'm coding</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="card-product">
        <img src="https://www.dropbox.com/s/y63wuriv5jdzpq0/team_jason.jpg?raw=1" />
        <div class="card-product-infos">
          <h2>Jason Sim</h2>
          <h3>Lead rocket engineer at Space-Y</h3>
          <p>Loves long walk on the rings of Saturn</p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card-product">
        <img src="https://www.dropbox.com/s/j1e4hxy6rdc43a4/team_arie.jpg?raw=1" />
        <div class="card-product-infos">
          <h2>Arie van der Poel</h2>
          <h3>Janitor at SPACE-Y</h3>
          <p>Cleans the merge conflicts</p>
        </div>
      </div>
    </div>
</div>

