<div class="container mt-3 ">
  <div class="text-center img-container-rocket-index d-flex justify-content-center align-items-center">
    <h1>ABOUT SPACE-Y</h1>
  </div>
</div>
<div class="container mt-3 ">
  <div class="row">
    <div class="col-7">
      <h2>Welcome to SPACE-Y</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-7">
      <p>At SPACE-Y we believe in two things:</p>
      <ol>
        <li>Affordable space travel should be available to everyone</li>
        <li>Rockets are cool</li>
      </ol>
      <h3>Never piloted a Rocket before? <strong>No problem</strong></h3>
      <p>At spacey you can rent our Rockets worry free with our comprehensive insurance packages that cover:</p>
      <ul>
        <li>24/7 galaxy-wide assistance and recovery (limited to Milky Way )</li>
        <li>Theft of rockets</li>
        <li>Break ins</li>
        <li>Scratches to bodywork</li>
        <li>Windscreens</li>
        <li>Free hire rockets</li>
    </ul>
    </div>
  </div>
</div>
