<div class="jumbotron text-center" >
  <div class="inner m-5">
    <h1 class="display-4">SPACE-Y</h1>
    <p class="lead">Peer to peer rocket rental for <em>your</em> day-to-day space exploration</p>

    <p>Find the perfect rocket for your next mission</p>
    <%= link_to 'Explore', rockets_path, :class => "btn btn-outline-light btn-lg m-3" %>
    <%= link_to 'Signup', new_user_registration_path, :class => "btn btn-outline-light btn-lg m-3" %>
<!--     <a class="btn btn-primary btn-lg" href="/rockets" role="button">Explore All</a>
    <a class="btn btn-primary btn-lg" href="/users/dashboard" role="button">Signup</a> -->
  </div>
</div>
<section id="about" class="about-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2 class="text-white mb-4">Future is here!</h2>
        <p class="text-white-50">Jobs done easy with the right tools!</p>
      </div>
    </div>
  </div>
</section>
<div class="row justify-content-center no-gutters mb-5 mb-lg-0">
  <div class="col-lg-6">
    <img class="img-fluid" src="https://images.pexels.com/photos/110854/pexels-photo-110854.jpeg?cs=srgb&dl=sky-space-milky-way-stars-110854.jpg&fm=jpg" alt="">
  </div>
  <div class="col-lg-6">
    <div class="bg-white text-center h-100 Yacht">
      <div class="d-flex h-100">
        <div class="rocket-text w-100 my-auto text-center text-lg-left">
          <h4 class="text-black font-weight-bold text-center">INFINITY</h4>
          <div class="text-black-50 text-center p-3">
            <p >Space is the solution for new generation travelling, even to send belongings to the outer space storage station. At Space-Y, we are dedicated to provide you an easy but reliable solution finding your ideal rockets to do the job. </p>
          </div>
          <%# <hr class="d-none d-lg-block mb-0 ml-0"> %>
        </div>
      </div>
    </div>
  </div>
</div>