<div class="jumbotron">
  <div class="overlay">
    <div class="inner">
      <h1 class="display-4">SPACE-Y</h1>
      <p class="lead">Peer to peer rocket rental for <em>your</em> day-to-day space exploration</p>
      <hr class="my-4">
      <p>Find the perfect rocket for your next mission</p>
      <a class="btn btn-primary btn-lg" href="/rockets" role="button">Explore All</a>
      <a class="btn btn-primary btn-lg" href="/users/dashboard" role="button">My Dashboard</a>
    </div>
</div>
</div>
