.cards-container {
  height: 160px;
  display: block;
  text-align: left;
}

.nav-container {
  padding-top: 0px;
}

.body-container {
  padding-bottom: 80px;
}

.avatar-container {
  height: 100%;
  width: 100%;
  padding-top: 20px;
}

.img-center-container {
  display: block;
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 50%;
}
