.img-container-rocket {
  height: 350px;
  background-color: light-gray;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px !important;
  margin-top: 24px !important;
  border-radius: 12px !important;
  padding: 8px 24px 24px !important;
}

.rocket-location {
  border-radius: 12px !important;
}
