.navbar {
  justify-content: space-between;
  a{
    color:black;
    font-size: 18px;
    margin-right: 15px;
  }
  width: 100vw;
  padding: 17px 50px;
  margin-bottom: 10px;
}

.navbar .navbar-collapse {
  flex-grow: 0;

}

.navbar .navbar-brand img {
  width: 150px;
}

.spacer{
  margin-bottom: 100px;
  a.nav-link{
    color: white;
  }
}
.home{
  background-color: #00000026;
}

.home a{
  color: white;
}
.dropdown-item:hover{
  background-color:transparent;
  color: #c1c1c1;
}
