.navbar {
  justify-content: space-between;
  background-color: none;
  a{
    color: black;
  }
  width: 100vw;
  padding: 17px 50px;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 40px;
}

.spacer{
  margin-bottom: 100px;
  a{
    color: white;
  }
}
